<ion-view title="{{pageTitle}}" class="edit-recipe">
    <ion-nav-buttons side="right" >
        <button class="button button-clear bold" ng-click="saveRecipe()" ng-tap="saveRecipe()">Save</button>
    </ion-nav-buttons>
    <ion-pane>
    <form name="recipeForm" novalidate>
    <ion-tabs class="tabs-light tabs-icon-top">

        <ion-tab title="Info" icon-on="ion-information" icon-off="ion-information" ng-click="setTab(0)" ng-tab="setTab(0)">
            <ion-view><ng-include src="'recipe/detail-edit/tabs/info.html'"></ng-include></ion-view>
        </ion-tab>

        <ion-tab title="Fermentables" icon-on="icon-wheat" icon-off="icon-wheat" ng-click="setTab(1)" ng-tab="setTab(1)">
            <ion-view><ng-include src="'recipe/detail-edit/tabs/fermentables/list.html'"></ng-include></ion-view>
        </ion-tab>

        <ion-tab title="Hops" icon-on="icon-hop" icon-off="icon-hop" ng-click="setTab(2)" ng-tab="setTab(2)">   
            <ion-view><ng-include src="'recipe/detail-edit/tabs/hops/list.html'"></ng-include></ion-view>
        </ion-tab>

        <ion-tab title="Yeast" icon-on="icon-yeast" icon-off="icon-yeast" ng-click="setTab(3)" ng-tab="setTab(3)">   
            <ion-view><ng-include src="'recipe/detail-edit/tabs/yeast/list.html'"></ng-include></ion-view>
        </ion-tab>

        <ion-tab title="Other" icon-on="ion-more" icon-off="ion-more" ng-click="setTab(4)" ng-tab="setTab(4)">   
            <ion-view><ng-include src="'recipe/detail-edit/tabs/other/list.html'"></ng-include></ion-view>
        </ion-tab>

    </ion-tabs>
    </form>
    </ion-pane>
</ion-view>
