.edit-recipe {
	.item input {
		padding-left: 20px !important;
	}

	h4 {
		padding-left: 20px;
	}

	.padded {
		padding-left: 10px;
		padding-right: 10px;
	}

	/* fix inset lists */
	.list-inset {
		margin-top: 0;
		margin-bottom: 20;
	}
	.list-inset:last-child {
		margin-bottom: 20px;
	}
	.list-inset .item.item-input input {
		padding-right: 15px !important;
	}
	.list-inset .item-button {
		padding: 0px;
	}
	.list-inset .item-button button {
		margin: 0px;
	}
}
