<ion-view title="{{pageTitle}}" class="edit-recipe">
    <ion-nav-buttons side="right">
    </ion-nav-buttons>
    <ion-content>
        <div class="container">
            <div class="space-40 hide-on-mobile"></div>
            <form name="recipeForm" novalidate ng-submit="submit()">
                <div class="list">
                    <label for="name" class="item item-input" >
                        Name
                        <p ng-show="recipeForm.name.$invalid && !recipeForm.name.$pristine" style="color:red; padding-left: 20px">
                            [a name is required]
                        </p>
                        <input type="text" name="name" ng-model="recipe.name" ng-required="true" class="text-right">
                    </label>
                    <label for="style" class="item item-input item-input-dropdown">
                        Style 
                          <input-dropdown
                            selected-item="recipe.style"
                            default-dropdown-items="styles"
                            allow-custom-input="true"
                            input-name="style"
                            item-selected-method="setStyle(item)"
                            filter-list-method="filterStyles(userInput)">
                          </input-dropdown>
                    </label>
                    <label for="boilSize" class="item item-input">
                        Boil Size <input type="text" name="boilSize" ng-model="recipe.boilSize" class="text-right">
                    </label>
                    <label for="boilSizeUnits" class="item item-input item-select">
                        Boil Size Units
                        <select name="boilSizeUnits" ng-model="recipe.boilSizeUnits">
                          <option>Gal</option>
                          <option>L</option>
                        </select>
                    </label>
                    <label for="boilTime" class="item item-input item-input-group">
                        Boil Time
                        <input type="text" name="boilTime" ng-model="recipe.boilTime" class="text-right">
                        <span class="input-addon">Minutes</span>
                    </label>
                    <label for="estFermentationDays" class="item item-input item-input-group">
                        Estimated Fermentation Time
                        <input type="text" name="estFermentationDays" ng-model="recipe.estFermentationDays" class="text-right">
                        <span class="input-addon">Days</span>
                    </label>
                    <label for="secondaryTimeDays" class="item item-input item-input-group">
                        Secondary Fermentation Time
                        <input type="text" name="secondaryTimeDays" ng-model="recipe.secondaryTimeDays" class="text-right">
                        <span class="input-addon">Days</span>
                    </label>
                    <label for="mashEfficency" class="item item-input item-input-group">
                        Mash Efficiency
                        <input type="text" name="mashEfficiency" ng-model="recipe.mashEfficiency" class="text-right">
                        <span class="input-addon">%</span>
                    </label>
                </div>

                <h4>Fermentables</h4>
                <fermentable ng-repeat="fermentable in recipe.fermentables" model="fermentable" index="$index"></fermentable>
                <div class="padded">
                    <button class="button button-block button-balanced" ng-click="addFermentable()" ng-tap="addFermentable()">
                      Add Fermentable
                    </button>
                </div>

                <h4>Hops</h4>
                <hop ng-repeat="hop in recipe.hops" model="hop" index="$index"></hop>
                <div class="padded">
                    <button class="button button-block button-balanced"
                        ng-click="addHop()" ng-tap="addHop()">
                      Add Hop
                    </button>
                </div>

                <h4>Yeasts</h4>
                <yeast ng-repeat="yeast in recipe.yeasts" info="yeast" index="$index"></yeast>
                <div class="padded">
                    <button class="button button-block button-balanced"
                        ng-click="addYeast()" ng-tap="addYeast()">
                      Add Yeast
                    </button>
                </div>

                <h4>Others</h4>
                <other-ingredient ng-repeat="other in recipe.others track by $index" model="other"></other-ingredient>
                <div class="padded">
                    <button class="button button-block button-balanced"
                        ng-click="addOther()" ng-tap="addOther()">
                      Add Other Ingredient
                    </button>
                  </div>

                <h4>Notes</h4>
                <note ng-repeat="note in recipe.notes track by $index"
                model="note"></note>
                <div class="padded">
                    <button class="button button-block button-balanced"
                        ng-click="addNote()" ng-tap="addNote()">
                      Add Note
                    </button>
                </div>

                <div class="padded">
                    <button class="button button-block button-balanced"
                        ng-click="saveRecipe()" ng-tap="saveRecipe()" ng-disabled="recipeForm.$invalid">
                        Save recipe
                    </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>
