<div class="container">
	<ion-list>
		<div class="item item-divider">
			Hops
		</div>

		<ion-item ng-if="recipe.hops.length == 0">
			<span>There are no hops here.</span>
		</ion-item>


		<ion-item class="clickable" ng-repeat="hop in recipe.hops"
				ng-click="editHop($index)" ng-tap="editHop($index)"
				ng-class="{ 'list-item-inline-buttons' : !isIOS }">

			<div ng-if="isIOS">
				<div class="ingredient">
					<div class="ingredient-item-name">{{hop.name}}</div>
					<div class="ingredient-item">
						Add Time: {{hop.stage}}
						<span ng-if="hop.stage.toLowerCase() === 'boil'"> {{hop.addTime}} M</span>
						,
					</div>
					<div class="ingredient-item">Type: {{hop.type}},</div>
					<div class="ingredient-item">Weight: {{hop.weight}} {{hop.weightUnits}},</div>
					<div class="ingredient-item">AA: {{hop.aa}},</div>
				</div>
	            <ion-option-button class="button-assertive" 
	            		ng-click="deleteHop($index)"
	            		ng-tap="deleteHop($index)">
	                Delete
	            </ion-option-button>
	        </div>

	        <div ng-if="!isIOS" class="row">
	            <div class="col-75 list-item-text">
	            	<div class="ingredient">
						<div class="ingredient-item-name">{{hop.name}}</div>
						<div class="ingredient-item">
							Add Time: {{hop.stage}}
							<span ng-if="hop.stage.toLowerCase() === 'boil'"> {{hop.addTime}} M</span>
							,
						</div>
						<div class="ingredient-item">Type: {{hop.type}},</div>
						<div class="ingredient-item">Weight: {{hop.weight}} {{hop.weightUnits}},</div>
						<div class="ingredient-item">AA: {{hop.aa}},</div>
					</div>
	            </div>
	            <div class="col list-item-buttons">
	                <button class="button button-small button-assertive icon ion-trash-a" 
	                	ng-click="deleteHop($index); $event.stopPropagation();"
	                	ng-tap="deleteHop($index); $event.stopPropagation();"></button>
	            </div>
	        </div>
        </ion-item>
        
		<div class="item item-button">
		    <button class="button button-block button-balanced" ng-click="addHop()" ng-tap="addHop()">
		      Add hop
		    </button>
		</div>
	</ion-list>
</div>
