# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
dist/
openbrews/lib
!openbrews/lib/angular-input-dropdown
*.zip
resources/
www/
.*.json
*.css
*.min.css
openbrews/config.json
res/
