<ion-view title="Add Recipe" class="add-recipe">
	<ion-nav-buttons side="right">
	</ion-nav-buttons>
	<ion-content>
		<div class="container">
			<form>
				<div class="list">
					<label for="name" class="item item-input">
						Name <input type="text" name="name" ng-model="recipe.name">
					</label>
					<label for="style" class="item item-input">
						Style <input type="text" name="style" ng-model="recipe.style">
					</label>
					<label for="boilSize" class="item item-input">
						Boil Size <input type="text" name="boilSize" ng-model="recipe.boilSize">
					</label>
					<label for="boilSizeUnits" class="item item-input">
						Boil Size Units <input type="text" name="boilSizeUnits" ng-model="recipe.boilSizeUnits">
					</label>
					<label for="boilTime" class="item item-input">
						Boil Time <input type="text" name="boilTime" ng-model="recipe.boilTime">
					</label>
				</div>
			</form>
		</div>		
	</ion-content>
</ion-view>