/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "./lib/ionic/fonts" !default;

// Include all of Ionic
@import "./lib/ionic/scss/ionic";
@import "./recipe/list";
@import "./recipe/detail-edit/edit-recipe";
@import "./recipe/view/view-recipe";

/* form styles */
.list .item.item-input.item-input-group input {
	padding-right: 5px !important;
}

.input-addon {
	padding-right: 15px;
}

/* hide number spinner because it's just ugly */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* shared classes */
.clickable {
	cursor: pointer;
}

/* spacing classes */
.space-40 {
	height: 40px;
}

/* responsive classes */
@media screen and (min-width: 1080px) {
	.container {
		width: 60%;
		margin-left: 20%;
	}
}

@media screen and (max-width: 1080px) {
	.hide-on-mobile {
		display: none;
	}
}
