.container {
	max-width: 740px !important;
	width: auto !important;
}

.btn-orange {
	background-color: #f48700;
	border-color: #d77a06;
	color: #FFF;
}

.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus {
	background-color: #d77a06;
	border-color: #b86906;
	color: #DDD;
}

p {
	font-size: 18px;
}

.img-phone {
	max-width: 350px;
	margin: auto;
}

.spacer-150 {
	height: 150px;
}

.spacer-100 {
	height: 100px;
}


.spacer-50 {
	height: 50px;
}

.spacer-20 {
	height: 20px;
}

.footer {
	padding: 15px;
	background-color: #eee;
	font-size: 16px;
}