<div class="container">
    <div class="list">
        <div class="item item-divider">
          Basic Info
        </div>
        <label for="name" class="item item-input" 
                ng-class="{ 'form-error' : (recipeForm.name.$invalid && !recipeForm.name.$pristine) }">
            Name 
            <input type="text" name="name" ng-model="recipe.name" class="text-right" ng-required="true"
                    ng-attr-placeholder="{{(recipeForm.name.$invalid && !recipeForm.name.$pristine) ? 'Required' : ''}}">
        </label>
        <label for="style" class="item item-input item-input-dropdown" 
                ng-class="{ 'form-error' : (recipeForm.style.$invalid && !recipeForm.style.$pristine) }">
            Style
              <input-dropdown
                selected-item="recipe.style"
                default-dropdown-items="styles"
                allow-custom-input="true"
                input-name="style"
                item-selected-method="setStyle(item)"
                filter-list-method="filterItems(styles, userInput)"
                input-required="true"
                input-ng-attr-placeholder="{{(recipeForm.style.$invalid && !recipeForm.style.$pristine) ? 'Required' : ''}}">
              </input-dropdown>
        </label>
        <label for="boilSize" class="item item-input item-input-group item-select" 
                ng-class="{ 'form-error' : (recipeForm.boilSize.$invalid && !recipeForm.boilSize.$pristine) }">
            Boil Size 
            <input type="number" string-to-number name="boilSize" ng-model="recipe.boilSize" class="text-right" ng-required="true"
                    ng-attr-placeholder="{{(recipeForm.boilSize.$invalid && !recipeForm.boilSize.$pristine) ? 'Required' : ''}}">
            <select name="boilSizeUnits" ng-model="recipe.boilSizeUnits" class="item-input-group-select">
              <option>Gal</option>
              <option>L</option>
            </select>
        </label>
        <label for="boilTime" class="item item-input item-input-group" 
                ng-class="{ 'form-error' : (recipeForm.boilTime.$invalid && !recipeForm.boilTime.$pristine) }">
            Boil Time
            <input type="number" string-to-number name="boilTime" ng-model="recipe.boilTime" class="text-right" ng-required="true"
                    ng-attr-placeholder="{{(recipeForm.boilTime.$invalid && !recipeForm.boilTime.$pristine) ? 'Required' : ''}}">
            <span class="input-addon">Minutes</span>
        </label>
        <label for="estFermentationDays" class="item item-input item-input-group" 
                ng-class="{ 'form-error' : (recipeForm.estFermentationDays.$invalid && !recipeForm.estFermentationDays.$pristine) }">
            Primary Fermentation Time
            <input type="number" string-to-number name="estFermentationDays" ng-model="recipe.estFermentationDays" class="text-right" ng-required="true"
                    ng-attr-placeholder="{{(recipeForm.estFermentationDays.$invalid && !recipeForm.estFermentationDays.$pristine) ? 'Required' : ''}}">
            <span class="input-addon">Days</span>
        </label>
        <label for="secondaryTimeDays" class="item item-input item-input-group" 
                ng-class="{ 'form-error' : (recipeForm.secondaryTimeDays.$invalid && !recipeForm.secondaryTimeDays.$pristine) }">
            Secondary Fermentation Time
            <input type="number" string-to-number name="secondaryTimeDays" ng-model="recipe.secondaryTimeDays" class="text-right" ng-required="true"
                    ng-attr-placeholder="{{(recipeForm.secondaryTimeDays.$invalid && !recipeForm.secondaryTimeDays.$pristine) ? 'Required' : ''}}">
            <span class="input-addon">Days</span>
        </label>
        <label for="mashEfficiency" class="item item-input item-input-group" 
                ng-class="{ 'form-error' : (recipeForm.mashEfficiency.$invalid && !recipeForm.mashEfficiency.$pristine) }">
            Mash Efficiency
            <input type="number" string-to-number name="mashEfficiency" ng-model="recipe.mashEfficiency" class="text-right" ng-required="true"
                    ng-attr-placeholder="{{(recipeForm.mashEfficiency.$invalid && !recipeForm.mashEfficiency.$pristine) ? 'Required' : ''}}">
            <span class="input-addon">%</span>
        </label>
        <label for="steepEfficiency" class="item item-input item-input-group" 
                ng-class="{ 'form-error' : (recipeForm.steepEfficiency.$invalid && !recipeForm.steepEfficiency.$pristine) }">
            Steep Efficiency
            <input type="number" string-to-number name="steepEfficiency" ng-model="recipe.steepEfficiency" class="text-right" ng-required="true"
                    ng-attr-placeholder="{{(recipeForm.steepEfficiency.$invalid && !recipeForm.steepEfficiency.$pristine) ? 'Required' : ''}}">
            <span class="input-addon">%</span>
        </label>
        <div class="row item-row">
            <div class="col item-col">
                <label for="og" class="item item-input" 
                        ng-class="{ 'form-error' : (recipeForm.og.$invalid && !recipeForm.og.$pristine) }">
                    OG
                    <input type="text" name="og" ng-model="recipe.og" class="text-right" ng-required="true"
                            ng-attr-placeholder="{{(recipeForm.og.$invalid && !recipeForm.og.$pristine) ? 'Required' : ''}}">
                </label>
            </div>
            <div class="col item-col">
                <label for="fg" class="item item-input" 
                        ng-class="{ 'form-error' : (recipeForm.fg.$invalid && !recipeForm.fg.$pristine) }">
                    FG
                    <input type="text" name="fg" ng-model="recipe.fg" class="text-right" ng-required="true"
                            ng-attr-placeholder="{{(recipeForm.fg.$invalid && !recipeForm.fg.$pristine) ? 'Required' : ''}}">
                </label>
            </div>
        </div>
        <div class="row item-row">
            <div class="col item-col">
                <label for="abv" class="item item-input item-input-group" 
                        ng-class="{ 'form-error' : (recipeForm.abv.$invalid && !recipeForm.abv.$pristine) }">
                    ABV
                    <input type="text" name="abv" ng-model="recipe.abv" class="text-right" ng-required="true"
                            ng-attr-placeholder="{{(recipeForm.abv.$invalid && !recipeForm.abv.$pristine) ? 'Required' : ''}}">
                    <span class="input-addon">%</span>
                </label>
            </div>
            <div class="col item-col">
                <label for="abw" class="item item-input item-input-group" 
                        ng-class="{ 'form-error' : (recipeForm.abw.$invalid && !recipeForm.abw.$pristine) }">
                    ABW
                    <input type="text" name="abw" ng-model="recipe.abw" class="text-right" ng-required="true"
                            ng-attr-placeholder="{{(recipeForm.abw.$invalid && !recipeForm.abw.$pristine) ? 'Required' : ''}}">
                    <span class="input-addon">%</span>
                </label>
            </div>
        </div>
        <div class="row item-row">
            <div class="col item-col">
                <label for="ibu" class="item item-input" 
                        ng-class="{ 'form-error' : (recipeForm.ibu.$invalid && !recipeForm.ibu.$pristine) }">
                    IBU
                    <input type="text" name="ibu" ng-model="recipe.ibu" class="text-right" ng-required="true"
                            ng-attr-placeholder="{{(recipeForm.ibu.$invalid && !recipeForm.ibu.$pristine) ? 'Required' : ''}}">
                </label>
            </div>
            <div class="col item-col">
                <label for="srm" class="item item-input" 
                        ng-class="{ 'form-error' : (recipeForm.srm.$invalid && !recipeForm.srm.$pristine) }">
                    SRM
                    <input type="text" name="srm" ng-model="recipe.srm" class="text-right" ng-required="true"
                            ng-attr-placeholder="{{(recipeForm.srm.$invalid && !recipeForm.srm.$pristine) ? 'Required' : ''}}">
                </label>
            </div>
        </div>
    </div>
</div>
