<h4>Others</h4>
<other-ingredient ng-repeat="other in recipe.others track by $index" model="other"></other-ingredient>
<div class="padded">
    <button class="button button-block button-balanced"
        ng-click="addOther()" ng-tap="addOther()">
      Add Other Ingredient
    </button>
</div>
<h4>Notes</h4>
<note ng-repeat="note in recipe.notes track by $index"
model="note"></note>
<div class="padded">
    <button class="button button-block button-balanced"
        ng-click="addNote()" ng-tap="addNote()">
      Add Note
    </button>
</div>