<ion-modal-view>
  <ion-header-bar class="bar-assertive"  align-title="center">
    <button class="button button-icon icon ion-close" ng-click="closeBugReport()" ng-tap="closeBugReport()"></button>
    <h1 class="title">Bug Report</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        Email
        <input type="email" class="input-align-right" placeholder="you@youremail.com" ng-model="bugReportForm.email" ng-required="true">
      </label>
      <label class="item item-input">
        <textarea placeholder="Please describe your issue..." ng-model="bugReportForm.report" rows="16" ng-required="true"></textarea>
      </label>
    </div>
  </ion-content>
  <button class="button button-full button-balanced button-large fixed-bottom" ng-click="sendBugReport()" ng-tap="sendBugReport()">
    Send
  </button>
</ion-modal-view>