<ion-view title="OpenBrew">
	<ion-nav-buttons side="right">
		<button class="button" ng-click="addRecipe()" ng-tap="addRecipe()"><i class="icon ion-plus"></i></button>
	</ion-nav-buttons>
	<ion-content>

		<ul class="list">
			<ng-repeat ng-repeat="recipe in recipes">
			<li class="item">
				<div class="row">
					<div class="col text-left">
						{{recipe.name}}
					</div>
					<div class="col text-right">
						{{recipe.type}}
					</div>
			</li>
			</ng-repeat>
		</ul>
		
	</ion-content>
</ion-view>