<ion-view title="OpenBrews">
	<ion-nav-buttons side="left">
		<button class="button button-icon icon ion-bug" ng-click="" ng-tap=""></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button icon ion-plus button-clear-bordered" ng-click="addRecipe()" ng-tap="addRecipe()"></button>
	</ion-nav-buttons>
	<ion-content>

		<ion-list>
            <ion-item ng-repeat="recipe in recipes" ng-tap="viewRecipe(recipe)"
            ng-click="viewRecipe(recipe)">

                <div class="row">
					<div class="col text-left">
						{{recipe.name}}
					</div>
					<div class="col text-right">
						{{recipe.type}}
					</div>
				</div>

                <ion-option-button class="button-calm" ng-click="editRecipe(recipe)">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="deleteRecipe(recipe)">
                    Delete
                </ion-option-button>
                </ion-item>

        </ion-list>

	</ion-content>
</ion-view>
